# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

.DS_Store
Makefile
application/.DS_Store
application/Makefile
application/qrc_csvimp.cpp
csvimp.app/
csvimp.xcodeproj/
macx.pri
plugin/.DS_Store
plugin/Makefile
plugin/qrc_csvimp.cpp
plugin/tmp/
plugins/
